@model WebSchoolMVC.Domain.Entity.Timetable

@if(Model == null)
{
    <h5>Data no longer exists</h5>
}

<div id="mainDiv">
    <div class="text-center fs-1" style="margin-bottom:60px">
        Timetable
    </div>
    <div class="row" style="justify-content:center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <div class="dropdown" style="position:absolute; top:20px; right:20px; ">
                        <a class="btn btn-outline-primary" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="bi bi-list-ul" style="font-size:24px"></i></a>
                        <div class="dropdown-menu">
                            <button class="dropdown-item" onclick="openPartialClick(this)" asp-action="Update" asp-route-Id="@Model.Id"><i class="bi bi-pencil-square"></i> Edit</button>
                                <button class="dropdown-item" onclick="openPartialClick(this)" asp-action="Delete" asp-route-Id="@Model.Id"><i class="bi bi-trash3-fill"></i> Delete</button>
                        </div>
                    </div>
                    <label class="card-title fs-3" style="margin-bottom:5px">
                        @Model.Topic
                    </label>
                    <label class="card-subtitle" style="margin-bottom:4px;display:block">
                        TIMETABLE ID: @Model.Id
                    </label>
                </div>
                <div class="card-body">
                    <div class="card-group">
                        <label class="card-text">Starts: @Model.StartDateTime.ToString("MM/dd/yyyy") - @Model.StartDateTime.ToString("HH:mm")</label>
                    </div>
                    <div class="card-group">
                        <label class="card-text">Ends: @Model.EndDateTime.ToString("MM/dd/yyyy") - @Model.EndDateTime.ToString("HH:mm")</label>
                    </div>
                    <div class="card-group">
                        <label class="card-text">Group: @Model.Group.Title</label>
                    </div>
                    <div class="card-group">
                        <label class="card-text">Subject: @Model.Subject.Title</label>
                    </div>
                    <div class="card-group">
                        <label class="card-text">Room: @Model.Room.Number</label>
                    </div>
                </div>
                <div class="card-footer" style="display:flex; justify-content: center">
                </div>
            </div>
        </div>
    </div>
</div>
