@using System.Security.Claims
@model List<WebHostel.Models.ChosenServicesViewModel>
<div asp-validation-summary="All" class="text-warning"></div>
@if(Model != null)
@foreach (var r in Model)
{
    @if (r.employee_num == User.FindFirst(ClaimTypes.MobilePhone).Value)
    {
        <div class="card">
            <div class="card-header">
                <label>Услуга: @r.title</label>
            </div>
            <div class="card-body">
                <div class="card-columns">
                    <label>Номер клиента: @r.customer_num</label>
                </div>
                <div class="card-columns">
                    <label>Номер работника: @r.employee_num</label>
                </div>
                <div class="card-columns">
                    <label>Цена услуги: @r.cost</label>
                </div>
                <div class="card-columns">
                    <label>Отель: @r.hostel_name</label>
                </div>
            </div>
        </div>
        <br />
    }
    @if (r.customer_num == User.FindFirst(ClaimTypes.MobilePhone).Value)
    {
        <div class="card">
            <div class="card-header">
                <label>Услуга: @r.title</label>
            </div>
            <div class="card-body">
                <div class="card-columns">
                    <label>Номер клиента: @r.customer_num</label>
                </div>
                <div class="card-columns">
                    <label>Номер работника: @r.employee_num</label>
                </div>
                <div class="card-columns">
                    <label>Цена услуги: @r.cost</label>
                </div>
                <div class="card-columns">
                    <label>Отель: @r.hostel_name</label>
                </div>
            </div>
            <div class="card-footer">
                    <a asp-action="DeleteCService" asp-route-id="@r.id">Удалить</a>
                    <label> || </label>
                    <a asp-action="UpdateStatus" asp-route-id="@r.id">Статус: выполнено</a>
            </div>
        </div>
        <br />
    }
}
