@using WebHostel.Domain.Enum
@model WebHostel.Models.ServicesViewModel

<div class="nav-item">
    <div asp-validation-summary="All" class="text-danger"></div>
</div>
<form asp-action="EditServices" method="post">
    <div class="card">
        <div class="card-header">
            <h3>Изменение информации об услуге</h3>
        </div>
        <div class="card-body">
            <div class="card-text">
                <label>Название: </label>
                <input asp-for="title" name="title" placeholder="Название" value="@Model.title" />
            </div>
            <div class="card-text">
                <label>Описание: </label>
                <textarea asp-for="info" name="info" placeholder="Инфо" value="@Model.info"></textarea>
            </div>
            <div class="card-text">
                <label>Цена: </label>
                <input asp-for="cost" name="cost" placeholder="Цена" value="@Model.cost" />
            </div>
            <div class="card-text">
                <label>Транспорт: </label>
                <input asp-for="isDriving" name="isDriving" placeholder="Название" value="@Model.isDriving" />
            </div>
            <div class="card-text">
                <label>Должность работника: </label>
                <select asp-for="employee_rank" name="employee_rank" asp-items="@Html.GetEnumSelectList<EmployeeRanks>()">
                    <option value="@Model.employee_rank">--Выбрать--</option>
                </select>
            </div>
            <div class="card-text">
                <label>Отель: </label>
                <input asp-for="hostel_name" name="hostel_name" placeholder="Отель" value="@Model.hostel_name" />
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-success" type="submit">Изменить</button>
        </div>
    </div>
</form>