@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebHostel</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/bootstrap_slate.css"/>
</head>
<body>
    @if (User.Identity.IsAuthenticated && User.IsInRole("customer"))
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">БАЗА ОТЕЛЕЙ</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Rooms" asp-action="GetRoomss">Комнаты</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Services" asp-action="GetServicess">Услуги</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="ChosenServices" asp-action="GetCServices">Выбранные услуги</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Orders" asp-action="GetOrders">Заказы</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Customers" asp-action="GetCustomers" asp-route-phone="@User.FindFirst(ClaimTypes.MobilePhone).Value">Аккаунт</a>

                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Customers" asp-action="Log_out">Выход</a>

                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }
    @if (User.Identity.IsAuthenticated && User.IsInRole("employee") && User.FindFirst(ClaimTypes.Role).Value == "Cooker")
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">БАЗА ОТЕЛЕЙ</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                         aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Cafe" asp-action="GetCafe" asp-route-title="@User.FindFirst(ClaimTypes.UserData).Value">Ваше кафе</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Orders" asp-action="GetOrders" asp-route-phone="@User.FindFirst(ClaimTypes.MobilePhone).Value">Заказы</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Cafe_employees" asp-action="GetCEmployee" asp-route-id="@User.FindFirst(ClaimTypes.Sid).Value">Аккаунт</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Cafe_employees" asp-action="Log_out">Выход</a>

                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }
    @if (User.Identity.IsAuthenticated && User.IsInRole("employee") && User.FindFirst(ClaimTypes.Role).Value == "Wielder")
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">БАЗА ОТЕЛЕЙ</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                         aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Wirehouse" asp-action="GetWirehouse" asp-route-title="@User.FindFirst(ClaimTypes.UserData).Value">Ваш склад</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Products" asp-action="GetProducts">Товары на складе</a>

                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Worders" asp-action="GetWOrders" asp-route-phone="@User.FindFirst(ClaimTypes.MobilePhone).Value">Заказ на склад</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Manufactorer" asp-action="GetManufactorers">Производители</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Wirehouse_employees" asp-action="GetWEmployee" asp-route-id="@User.FindFirst(ClaimTypes.Sid).Value">Аккаунт</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Wirehouse_employees" asp-action="Log_out">Выход</a>

                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }
    @if (User.Identity.IsAuthenticated && User.IsInRole("employee") && User.FindFirst(ClaimTypes.Role).Value == "Concierge")
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">БАЗА ОТЕЛЕЙ</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Rooms" asp-action="GetRoomss" asp-route-hostel_name="@User.FindFirst(ClaimTypes.UserData).Value">Комнаты</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="ChosenServices" asp-action="GetCServices" asp-route-phone="@User.FindFirst(ClaimTypes.MobilePhone).Value">Услуги</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Orders" asp-action="GetOrders" asp-route-phone="@User.FindFirst(ClaimTypes.MobilePhone).Value">Заказы</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Customers" asp-action="GetCustomers" asp-route-phone="@User.FindFirst(ClaimTypes.MobilePhone).Value">Аккаунт</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Employees" asp-action="Log_out">Выход</a>

                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }
    @if (User.Identity.IsAuthenticated && User.IsInRole("employee") && User.FindFirst(ClaimTypes.Role).Value == "Trainer")
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">БАЗА ОТЕЛЕЙ</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Hostel" asp-action="GetHostel" asp-route-title="@User.FindFirst(ClaimTypes.UserData).Value">Ваш отель</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="ChosenServices" asp-action="GetCServices" asp-route-phone="@User.FindFirst(ClaimTypes.MobilePhone).Value">Услуги</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Employees" asp-action="GetEmployee" asp-route-phone="@User.FindFirst(ClaimTypes.MobilePhone).Value">Аккаунт</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Employees" asp-action="Log_out">Выход</a>

                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }
    @if (User.Identity.IsAuthenticated && User.IsInRole("employee") && User.FindFirst(ClaimTypes.Role).Value == "Cleaner")
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">БАЗА ОТЕЛЕЙ</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Rooms" asp-action="GetRoomss" asp-route-hostel_name="@User.FindFirst(ClaimTypes.UserData).Value">Комнаты</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="ChosenServices" asp-action="GetCServices" asp-route-phone="@User.FindFirst(ClaimTypes.MobilePhone).Value">Услуги</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Customers" asp-action="GetCustomers" asp-route-phone="@User.FindFirst(ClaimTypes.MobilePhone).Value">Аккаунт</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Employees" asp-action="Log_out">Выход</a>

                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }
    @if (User.Identity.IsAuthenticated && User.IsInRole("employee") && User.FindFirst(ClaimTypes.Role).Value == "Registrator")
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">БАЗА ОТЕЛЕЙ</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Booking" asp-action="GetBookings">Бронь</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Rooms" asp-action="GetRoomss" asp-route-hostel_name="@User.FindFirst(ClaimTypes.UserData).Value">Комнаты</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Employees" asp-action="GetEmployee" asp-route-id="@User.FindFirst(ClaimTypes.Sid).Value">Аккаунт</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Employees" asp-action="Log_out">Выход</a>

                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }
    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-4">
                <div class="container">
                    <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">БАЗА ОТЕЛЕЙ</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1 text-center">
                           <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="Main">Основное</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="Users">Юзеры сайта</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="Histories">Истории</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="Products">Товары на складах</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Dishes" asp-action="GetDishes">Блюда в кафе</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Employees" asp-action="Log_out">Выход</a>

                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }
    @if (!User.Identity.IsAuthenticated)
    {
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container-fluid">
                    <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">БАЗА ОТЕЛЕЙ</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarColor01">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Customers" asp-action="Register">Регистрация</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Loging">Вход в кабинет</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Hostel" asp-action="GetHostels">Все отели</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }
    <div class="container bg-dark">
        <main role="main" class="pb-3 bg-dark" >
            <partial name="_Notification"/>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container">
            2022 - WebHostel - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
