@model WEBSHOP.Domain.ViewModels.ManufactorerViewModel

<div class="modal fade" id="MnfEdit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Manufactorer`s info editor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span area-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form id="MnfEditForm" asp-page="Manufactorer" asp-page-handler="Edit">
                    <div class="form-group">
                        <label for="MnfId" class="form-label">ID</label>
                        <input asp-for="Id" value="@Model.Id" type="text" class="form-control" id="MnfId" readonly>
                    </div>
                    <div class="form-group">
                        <label for="MnfTitle" class="form-label">Title</label>
                        <input asp-for="Title" value="@Model.Title" class="form-control" id="MnfTitle" placeholder="Enter title">
                        <span class="form-text text-danger" asp-validation-for="Title"></span>
                    </div>
                    <div class="form-group">
                        <label for="MnfPhone" class="form-label">Phone</label>
                        <input asp-for="Phone" value="@Model.Phone" class="form-control" id="MnfPhone" placeholder="Enter mobile phone">
                        <span class="form-text text-danger" asp-validation-for="Phone"></span>
                    </div>
                    <div class="form-group">
                        <label for="MnfCountry" class="form-label">Country</label>
                        <input asp-for="Country" value="@Model.Country" class="form-control" id="MnfCountry" placeholder="Enter country">
                        <span class="form-text text-danger" asp-validation-for="Country"></span>
                    </div>
                    <div class="form-group">
                        <label for="MnfAddress" class="form-label">Address</label>
                        <input asp-for="Address" value="@Model.Address" class="form-control" id="MnfAddress" placeholder="Enter address">
                        <span class="form-text text-danger" asp-validation-for="Address"></span>
                    </div>
                    <div class="form-group">
                        <label for="MnfEmail" class="form-label">Email</label>
                        <input asp-for="Email" value="@Model.Email" class="form-control" id="MnfEmail" placeholder="Enter email">
                        <span class="form-text text-danger" asp-validation-for="Email"></span>
                    </div>
                    <div class="form-group">
                        <div asp-validation-summary="ModelOnly" class="form-text text-danger text-center fs-5"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="SaveBtn" type="button" class="btn btn-secondary"><i class="bi bi-cassette"></i> Save changes</button>
                <button id="DiscardBtn" type="button" class="btn btn-secondary"><i class="bi bi-x-circle"></i> Discard</button>
            </div>
        </div>
    </div>
</div>
