@model WebHostel.Models.Employee_spendsViewModel

<div class="nav-item">
    <div asp-validation-summary="All" class="text-danger"></div>
</div>
<form asp-action="EditESpend" method="post">
    <div class="card">
        <div class="card-header">
            <h3>История работника</h3>
        </div>
        <div class="card-body">
            <div class="card-group">
                <label>Номер телефона работника: </label>
                <input asp-for="employee_phone" name="employee_phone" value="@Model.employee_phone" placeholder="Номер телефона" />
            </div>
            <div class="card-group">
                <label>Количество вызовов\операций: </label>
                <input asp-for="countofOperations" name="countofOperations" value="@Model.countofOperations" placeholder="Кол-во" />
            </div>
            <div class="card-group">
                <label>Начальная дата: </label>
                <input asp-for="periodStart_date" name="periodStart_date" type="date" value="@Model.periodStart_date" />
            </div>
            <div class="card-group">
                <label>Конечная дата: </label>
                <input asp-for="periodEnd_date" name="periodEnd_date" type="date" value="@Model.periodEnd_date" />
            </div>
            <div class="card-group">
                <label>Зарплата за указанный период: </label>
                <input asp-for="payment" name="payment" value="@Model.payment" placeholder="Зарплата" />
            </div>
            <div class="card-group">
                <label>Отель: </label>
                <input asp-for="hostel_name" name="hostel_name" value="@Model.hostel_name" placeholder="Отель" />
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-success">Изменить</button>
        </div>
    </div>
</form>
