@using System.Security.Claims
@model WebSchoolMVC.Domain.Entity.Room

<div id="mainDiv">
    <div class="text-lg-center fs-1" style="margin-bottom:60px">
        Room`s details
    </div>
    <br />
    <div class="row" style="justify-content:center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header" position="relative">
                    <div class="dropdown" style="position:absolute; top:20px; right:20px; ">
                            <a class="btn btn-outline-primary" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="bi bi-list-ul" style="font-size:24px"></i></a>
                            <div class="dropdown-menu">
                                <button class="dropdown-item" onclick="openPartialClick(this)" asp-action="Update" asp-route-Id="@Model.Id"><i class="bi bi-pencil-square"></i> Edit</button>
                                <button class="dropdown-item" onclick="openPartialClick(this)" asp-action="Delete" asp-route-Id="@Model.Id"><i class="bi bi-trash3-fill"></i> Delete</button>
                            </div>
                        </div>
                    <label class="card-title fs-3">
                        @Model.Number
                    </label>
                    <br />
                    <label class="card-subtitle">
                        ROOM ID: @Model.Id
                    </label>
                </div>
                <div class="card-body">
                    <div class="card-group">
                        <label class="card-text">Floor: @Model.Floor</label>
                    </div>
                    <br />
                    <div class="text-center">
                        <label class="card-title fs-4">Room`s caretaker</label>
                    </div>
                    <div class="row" style="justify-content:center">
                        @if (Model.Teacher is not null)
                        {
                            <div class="col-lg-10">
                                <div class="card">
                                    <div class="card-header">
                                        <label class="card-title fs-3">
                                            @Model.Teacher.Fullname
                                        </label>
                                        <br />
                                        <label class="card-subtitle">
                                            TEACHER ID: @Model.Teacher.Id
                                        </label>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-group">
                                            <label class="card-text">Mobile number: @Model.Teacher.MobileNumber</label>
                                        </div>
                                        <div class="card-group">
                                            <a class="link-primary" asp-controller="Teacher" asp-action="GetById" asp-route-Id="@Model.Teacher.Id">Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="text-center">
                                <label class="card-title">No teacher takes care of this room.</label>
                            </div>
                        }
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row" style="justify-content:center">
                        <div class="col-lg-4">
                            <button class="btn btn-warning" onclick="openPartialClick(this)" asp-action="Update" asp-route-Id="@Model.Id">Edit</button>
                        </div>
                        @if(Model.Teacher is not null)
                        {
                            <div class="col-lg-4">
                            <button class="btn btn-danger" onclick="openPartialClick(this)" asp-action="RemoveCaretaker" asp-route-Id="@Model.Id">Remove caretaker</button>
                            </div>
                        }
                        else if(Model.Teacher is null)
                        {
                            <div class="col-lg-4">
                            <button class="btn btn-success" onclick="openPartialClick(this)" asp-action="AddCaretaker" asp-route-Id="@Model.Id">Become caretaker</button>
                            </div>
                        }
                        <div class="col-lg-4">
                            <button class="btn btn-danger" onclick="openPartialClick(this)" asp-action="Delete" asp-route-Id="@Model.Id">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>