@model WebHostel.Models.ProductsViewModel

<div class="nav-item">
    <div asp-validation-summary="All" class="text-warning"></div>
</div>
<form asp-action="EditProduct" method="post">
    <div class="card">
        <div class="card-header">
            <h3>Изменение данных продукта</h3>
        </div>
        <div class="card-body">
            <div class="card-text">
                <label>Название: </label>
                <input asp-for="title" name="title" placeholder="Название" value="@Model.title" />
            </div>
            <br />
            <div class="card-text">
                <label>Вид продукта: </label>
                <input asp-for="specie" name="specie" placeholder="Вид" value="@Model.specie" />
            </div>
            <br />
            <div class="card-text">
                <label>Количество: </label>
                <input asp-for="quantity" name="quantity" placeholder="Кол-во" value="@Model.quantity" />
            </div>
            <br />
            <div class="card-text">
                <label>Цена за 1 шт: </label>
                <input asp-for="cost" name="cost" placeholder="Цена" value="@Model.cost" />
            </div>
            <br />
            <div class="card-text">
                <label>Склад: </label>
                <input asp-for="wirehouse_name" name="wirehouse_name" placeholder="Склад" value="@Model.wirehouse_name" />
            </div>
            <br />
        </div>
        <div class="card-footer">
            <button class="btn btn-info" type="submit">Изменить</button>
        </div>
    </div>
</form>
